@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #3B82F6;  /* Sky Blue */
--color-secondary: #10B981; /* Emerald Green */

}

*{
  font-family: Outfit;
}

.font-playfair{
  font-family:Playfair !important;
}